#top-nav{
		background : #0B0B3B;	
}

#bottom-nav{
		background : #0B0B3B;	
		bottom: -20;
		//position: fixed;
		overflow: hidden;
		width: 100%;
}

#col1{
	//background: red;
	width :400px;
	height: 100px;
	float : left;
	margin: 50px
}

#col2{
	//background: green;
	width :400px;
	height: 100px;
	float : left;
	margin : 50px;
}

#col3{
	//background: blue;
	width :220px;
	height: 100px;
	float : right;
	margin : 10px;
}
	
#blist1{
	list-style-type:none;
	margin-top: 15px;
}

 #blist3 li{
	display : inline;
	size: 100px;
	padding: 6px;
	cursor : pointer;
	color:white;
}
#blist4 {
	color:white;

}

#lic{
	position: fixed;
	bottom: 50px;
	margin:10px;
	color:white;
}	
	
a{
	color: white;	
}

body{
	background: #557399;
	//margin-top:40px;
  //margin-left:20px;
  //margin-right:20px;
  margin-bottom:40px;
}

#frm1{
	background: #AED5F9;
	margin-right:500px;
	margin-left:500px;
   // margin-bottom:200px;
}

#main{
	margin-right: 200px;
	margin-left: 200px;
  	Background-color: #AED5F9;
}

img{
	margin: 0 auto;
}
